* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: black;
}

img {
    max-width: 100%;
    display: block;
    object-fit: contain;
}

.big_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container_main {
    padding: 70px 85px;
    /* flex-grow: 1; */
}

.flex_grow {
    flex-grow: 1;
}

.container_options {
    position:fixed;
    top: 0;
    right: 0;
    gap: 10px;
    font-size: 14px;
}

.flex_cont  {
    display: flex;
}

.row {
    display: flex;
    column-gap: 5px;
    margin-bottom: 15px;
}

.color_white {
    color: white;
}

.color_button {
    background-color: #4A4A4A;
}

/* Section Webcams */

.button_speaker {
    padding: 5px;
    border-radius: 5px;
}

.button_fullscreen {
    padding: 5px;
    border-radius: 5px;
}

.container_img {
    flex-basis: calc(100% / 7);
    position: relative;
}

.box_mic {
    background-color: rgba(102, 115, 125, 50%);
    max-width: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 13px;
    padding: 5px;
}

/* Section Toolbar */

.container_toolbar {
    background-color: #222222;
    display: flex;
    color: white;
    justify-content: space-between;
}

.end_meeting_button {
    color: #EE262B;
    font-size: 13px;
    background-color: #4A4A4A;
    /* padding: 20px; */
}
/* Debug */

.container_img {
    /* padding: 20px; */
    border: 2px solid red;
}

.container_toolbar {
    /* padding: 50px; */
    border: 2px solid salmon;
}